* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    width: auto;
    height: 85px;
    box-shadow: 0 6px 6px rgba(0,0,0,.06);
    display: flex;
    align-items: center;
}

.grid {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
}

.header__logo-img {
    cursor: pointer;
}

.navbar-list {
    list-style: none;
    padding-left: 0;
}

.navbar-item {
    color: #222;
    font-size: 27px;
    margin-top: 10px;
    margin-left: 30px;
}

.help {
    color: #ee4d2d;
    text-decoration: none;
    font-size: 16px;
    margin-right: 15px;
    cursor: pointer;
}

.login {
    height: 600px;
    width: auto;
    background-color: rgb(255, 235, 225);
}

.login__body {
    width: 1040px;
    min-height: 600px;
    background-image: url(img/sales.png);
    background-repeat: no-repeat; 
    background-position: center center;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.form__body {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form__background {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login__form {
    width: 400px;
    min-height: 500px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    overflow: hidden;
}

.header__login {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box ;
}

.heading__login {
    width: 100%;
    padding: 25px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.name__heading__login {
    max-width: 140px;
    font-size: 22px;
    color: #222;
}

.login__qr {
    margin-left: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.qr {
    background-color: #fafaec;
    padding: 12px 15px;
    color: #ffbf00;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid #ffbf00;
    border-radius: 2px;
    position: relative;
    margin-right: 18px;
}

.qr::after {
    position: absolute;
    content: "";
    box-sizing: border-box;
    width: 19px;
    height: 19px;
    transform: rotate(45deg) translateX(-50%);
    border-top: 2px solid #ffbf00;
    border-right: 2px solid #ffbf00;
    top: 50%;
    right: -18px;
}

.body__login {
    padding: 0 30px 30px;
    overflow: hidden;
}

.login__email {
    margin-bottom: 6px;
}

.login__input {
    width: 100%;
    box-sizing: border-box;
    height: 45px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.14);
    border-radius: px;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.02);
    display: flex;
    align-items: center;
}

.text {
    padding: 13.5px;
    outline: none;
    border: 0;
    flex: 1;
    flex-shrink: 0;
    filter: none;
    opacity: 0.5;
}

.distance {
    margin: 0;
    padding: 4.5px 0 0;
    color: #ff424f;
    min-height: 22.5px;
}

.login__password {
    margin-bottom: 10px;
}

.login__button {
    width: 100%;
    color: #fff;
    background-color: #ee4d2d;
    box-shadow: 0 1px 1px rgba(0,0,0,.09);
    opacity: 0.7;
    text-transform: uppercase;
    height: 45px;
    min-width: 340px;
    padding: 0 11.5px;
    border: 0;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.under__button {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.text__under__button {
    color: #05a;
    font-size: 13.5px;
    text-decoration: none;
}

.cnt-social {
    margin-top: 15px;
}

.connect {
    padding-bottom: 14px;
    display: flex;
    align-items: center;
}

.line {
    height: 1px;
    width: 100%;
    background-color: #dbdbdb;
    flex: 1;
}

.or {
    color: #ccc;
    padding: 0 16px;
    text-transform: uppercase;
    font-size: 13.5px;
}

.auth-form__socials {
    display: flex;
    justify-content: space-between;
}

.btn-icon {
    box-sizing: border-box;
    outline: none;
    border: 1px solid rgba(0,0,0,.26);
    background-color: #fff;
    color: rgba(0,0,0,.87);
    padding: 0 2px;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    font-size: 15.75px;
    margin: 5px;
}

.footer__login {
    margin-bottom: 20px;
}

.body__footer__login {
    width: 100%;
    font-size: 15.75px;
    padding-right: 4px;
    color: rgba(0, 0, 0, 0.26);
    display: flex;
    align-items: center;
    justify-content: center;
}

.register {
    color: #ee4d2d;
    text-decoration: none;
    font-weight: 500;
    font-size: 15.75px;
    padding-left: 5px;
}

<!--Footer-->
.footer {
    background-color: #f5f5f5;
}

.information {
    width: 1450px;
    margin: auto;
}

.infor__detail {
    display: flex;
    margin: 0px;
    padding: 6px;
    width: 100%;
    min-width: 1200px;
    align-items: flex-start;
}

.block {
    width: 300px ;
    padding: 8px;
    box-sizing: border-box;
}

.title__block {
    font-size: 14px;
    font-weight: 700;
    color: rgba(0,0,0,.87);
    margin-bottom: 22.5px;
    margin-top: 45px;
}

.detail__block {
    text-decoration: none;
    display: block;
    color: rgba(0,0,0,.65);
    list-style-type: none;
    margin: 0 0 14px;
    padding: 0;
}

.line__block {
    font-size: 14px;
    margin-bottom: 14px;
} 

.name__line {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.donors_containrt {
    list-style-type: none;
    padding: 0;
    margin: 0 0 14px;
    display: flex;
    flex-wrap: wrap;
}

.donor_detail {
    width: 67.5px;
    height: 33px;
    margin-bottom: 9px;
    margin-right: 9px;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 1px;
}

.donor_name {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials {
    text-decoration: none;
    display: block;
    color: rgba(0,0,0,.65);
    list-style-type: none;
    margin: 0 0 18px;
    padding: 0;
}

.sociail__link {
    font-size: 13.5px;
    margin-bottom: 13.5px;
    display: flex;
} 

.link {
    text-decoration: none;
    color: rgba(0,0,0,.65);
    overflow: hidden;
    display: flex;
}

.logo {
    height: 18px;
    width: 18px;
    margin-right: 9px;
}

.name__social {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.app_block {
    width: 100%;
    margin-bottom: 13.5px;
    display: flex;
    flex-direction: row;
}

.qr__code {
    height: 104px;
    width: 100px;
    margin-right: 13.5px;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    border-radius: 2px;
}

.app_container {
    width: 86px;
    display: inline-block;
    vertical-align: top;
}

.app {
    width: 86px;
    height: 28px;
    margin-bottom: 5px;
    padding: 3px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.national {
    justify-content: space-between;
    color: rgba(0,0,0,.54);
    padding: 45px 0;
    border-top: 1px solid rgba(0,0,0,.1);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.rules {
    flex-shrink: 0;
    margin-right: 25px;
    line-height: 20px;
    font-size: 15px;
}

.list_countries {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.country__area {
    flex: 1 0 auto;
    text-align: right;
    line-height: 20px;
    font-size: 15px;
}

.countries_detail {
    padding: 0 5px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.name_contry {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    line-height: 18px;
    font-size: 15px;
}

.location {
    font-size: 13.5px;
    color: rgba(0,0,0,.65);
    padding: 47px 0 41.5px;
    background: #f5f5f5;
}

.location_body {
    width: 1350px;
    margin: 0 auto;
}

.list__policy {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

.policy_detail {
    padding: 0 28px;
    border-right: 1px solid rgba(0,0,0,.09);
    text-transform: uppercase;
    font-size: 13.5px;
}

.policy_name {
    text-decoration: none;
    display: block;
    color: rgba(0, 0, 0, 0.6);
}

.list__certicifate {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.certicifate {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    margin: 0 20px;
}

.photo_certicifate {
    width: 135px;
    height: 50px;
}

.company {
    margin-bottom: 28px;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 9px;
}

.address {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 9px;
}

.manager {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 9px;
}

.code {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 9px;
}

.shopee {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 9px; 
}